.container {
    height: 220px;
    max-height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #E7CBA4 1%, #EFE7DF);
}

.iframeSection {
    display: flex;
    flex-direction: row;
}

.iframeTag {
    border: 5px solid #E6A65F;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #e0c59f;
}

.textDiv {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.text {
    color: #E6A65F;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #7a6a52;
}

.linkNavigation {
    width: 350px;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}
